.card{
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.card__img{
  position: relative;
  img{
    width: 100%;
    object-fit: cover;
  }
}
.card__score{
  position: absolute;
  right: 0;
  top: 0;
}
