.card{
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  &:hover{
    position: relative;
    z-index: 3;
    transform: scale(1.1);
    background-color: black;
    color: white;
  }
}
.card__img{
  position: relative;
  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
.card__score{
  position: absolute;
  right: 0;
  top: 0;
}
