.active{
  background-color: black;
  color: white;
}


.filter-btn,.raiting-btn,.sort-btn{
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: black;
    padding: 5px 10px;
    color: white;
  }
}

