.rec__card-img{
  height: 403px;
}
.rec__card-content{
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
  &:hover{
    position: relative;
    z-index: 3;
    transform: scale(1.1);
    background-color: black;
    color: white;
  }
}

@media (max-width:767px) {
  .rec__card-img{
    height: 100%;
  }
}
