.mangaCard{
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  &:hover{
    position: relative;
    z-index: 3;
    transform: scale(1.1);
    background-color: black;
    color: white;
  }
}
.mangaCard__img{
  position: relative;
  img{
   height: 425px;
    width: 100%;

    object-fit: cover;
  }
}
.mangaCard__score{
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width:767px) {
  .mangaCard__img{
    img{
     height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }
}
