.fullManga__img{
  border: 1px solid black;
  display: inline-block;
  position: relative;
}
.fullManga__score{
  position: absolute;
  right: 0;
  top: 0;
}

.mangaImages__image{
  height: 100%;
  width: 100%;
}

.card-news__img{
  max-width: 225px;
  width: 100%;
}
.mangaCharacters__card-img{
  width: 100%;
  height: 300px;
}
.mangaCharacters__card{
  border: 1px solid black;
}
