@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
font-family: 'Inter', sans-serif;
}

html,body{
  scroll-behavior: smooth;
}


.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

.searchInput{
  border: 1px solid black;
  padding: 5px 5px 5px 10px;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s ease-in-out;
  &:focus{
    max-width: 300px;
    outline: none;
  }
}




