.line__content {
  position: relative;
  height: 100vh;

}

@keyframes lazyLoading {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75%{
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: lazyLoading;
  animation-duration:6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


